<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head')%>

    <body>
        <%- include('../../layout/navbar')%>
            <header>
                <h1>Search by Title or Author </h1>
            </header>

            <main>
                <form action="/searches" method="POST" class="search-form">
                    <input type="text" name="search" placeholder="Search by Title or by author ">
                    <div class="radio-field">
                        <input type="radio" name="term" value="title">
                        <label for="title">Title </label>
                    </div>
                    <div class="radio-field">
                        <input type="radio" name="term" value="author">
                        <label for="author">Author </label>
                    </div>
                    <button type="submit">Search for Book</button>
            </main>

            </form>

    </body>

</html>