body {
    text-align: center;
}
main{
    padding: 5% 2%;
}
.grid{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
 }

 .grid grid-item{
    padding:  3% 10%;
    border:  5px solid #fff;
 }

